body {
    background-color: #fbdd74;
    color: #294910;
    height: 100vh;
    width: 100vw;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
}

.App {
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

h1 {
    font-size: 10vw;
    font-weight: 800;
    margin: 0 1.2rem;
    line-height: 1.4;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    bottom: 0;
    position: fixed;
    margin: 0 1.2rem 1.2rem;
    line-height: 1.2;
}

.image-container {
    background-color: #fff;
    margin: 0;
    position: relative;
    width: 50vw;
}