body {
    background-color: #fbdd74;
    color: #294910;
    height: 100vh;
    width: 100vw;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

h1 {
    font-size: 10vw;
    font-weight: 800;
    margin: 0 1.2rem;
    line-height: 1.4;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    bottom: 0;
    position: fixed;
    margin: 0 1.2rem 1.2rem;
    line-height: 1.2;
}

figcaption {
    font-size: 3rem;
    font-weight: normal;
    position: fixed;
    text-align: center;
    z-index: 1;
    bottom: 0;
    color: #fff;
    margin: 0 auto;
    width: 50%;
    padding: 1.3rem 0;
}

figure {
    background-color: #fff;
    margin: 0;
    position: relative;
    width: 50vw;
}

img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
}

.display {
    opacity: 1;
}

.hide {
    opacity: 0;
}

aside {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.loading-bar {
    display: grid;
    grid-row-gap: 0.8rem;
}

progress {
    border: 1px solid #294910;
    height: 1.2rem;
    width: 22rem;
}

progress[value]::-webkit-progress-bar {
    background: #e8e8e8;
}

progress[value]::-webkit-progress-value {
    background: #294910;
}

@media (max-width: 800px) {
    section {
        flex-direction: column;
    }
}